<h1>Nuevo usuario</h1>
<%= form_for :welcome, :url => { :action => :create } do |f| %>

    <%= f.label :Nombre %><br>
    <%= f.text_field :Nombre %>
  </p>

  <p>
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </p>

 <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

   <p>
    <%= f.label :dni %><br>
    <%= f.text_field :dni %>
  </p>
  <p>
    <%= f.label :telef %><br>
    <%= f.text_field :telef %>
  </p>
 <p>
    <%= f.label :contra %><br>
    <%= f.text_field :contra %>
  </p>
  <p>
    <%= f.submit :Registrar%>
  </p>
<% end %>