<h1>Lista de Articulos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.Nombre %></td>
      <td><%= post.apellido %></td>
      <td><%= post.dni %></td>
      <td><%= post.telef %></td>
      <td><%= post.contra %></td>
    </tr>
  <% end %>
</table>
